body,
.top,
.second,
.third,
.image-subtext,
.fourth-text{
display: flex;
flex-direction: column;
}

.header,
.first,
.images-second,
.fourth,
.links{
    display: flex;
}

.second-header{
    text-align: center;
}

.image-subtext p{
    width: 180px;
    text-align: center;
}

.images-second{
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.image-subtext img{
    height: 200px;
    border-radius: 10px;
    border: solid blue 2px;
    width: 200px;
}

.links{
    gap: 15px;
    margin-top: 20px;
}

body{
    margin: 0px;
}

.top,
.footer{
    background-color: #1F2937;
}

.placeholder{
    text-align: center;
    color: #F9FAF8;
    width: 500px;
    height: 500px;
    background-color: grey;
}

.placeholder p{
    margin: 90px 0 0 0;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.first-container{
    padding-bottom: 100px;
    width: 470px;
}

.header{
    gap: 450px;
}

.first{
    gap: 450px;
    align-items: center;
}

.top{
    align-items: center;
}

.first-header{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.first-header-subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}